* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
	line-height: 1.7em;
	color: #333333;
	font-size: 13px;
}

p {
	color: #333333;
}

h1, h2, h3, h4, h5, h6, label {
	color: #cc0033;
}

.pure-img-responsive {
	max-width: 100%;
	height: auto;
	border: 1px solid #999999;
}

.pure-link {
	text-decoration: none;
	color: #ff0000;
	text-shadow: 1px 1px 0px #ccc;
}

.pure-link:hover {
	color: #ffcc00;
	text-shadow: 1px 1px 0px #666;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
.is-center {
	text-align: center;
}
.sx{
	text-align: left;
}
.black {
	color: #000;
}

.grey {
	color: #999999;
}
.darkgrey {
	color: #666666;
}
.red {
	color: #ff3333;
}
table.e {
	width: 100%;
}

.e tr {
	padding: 10px;
}

.e td {
	padding: 10px;
}

.noborder {
	border: 0px solid #FFF !important;
}

.font-plus {
	font-size: 130%;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
	padding: 1em;
}

.l-box-lrg {
	padding: 2em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dash {
	border: 1px solid #FFF;
	padding: 20px;
	font-weight: 1000;
	text-transform: none;
	letter-spacing: 0.01em;
}

.dash:hover {
	background-color: #ccc;
	-webkit-transition: 2s;
	transition: 2s;
}

/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
	margin: 1em 0 0;
	font-weight: bold;
	font-size: 100%;
}

.pure-form input[type] , .pure-form textarea{
	border: 2px solid #ddd;
	box-shadow: none;
	font-size: 100%;
	width: 100%;
	margin-bottom: 1em;
}
.pure-form .readonly {
    background-color: #eee; /* menu hover bg color */
    color: #777; /* menu text color */
    border-color: #ccc;
    cursor: default;
}
.pure-form .error {
	background-color: #ffff99;
    text-decoration: underline;
    color: #800040;
}
/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
	background-color: #ff3333;
	color: #e6e6e6;
	padding: 0.5em 2em;
	border-radius: 5px;
}

a.pure-button-primary {
	background: #ffff00;
	color: #ffcc00;
	border-radius: 5px;
	font-size: 120%;
}

.button-success, .button-error, .button-warning, .button-secondary {
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
	background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
	background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
	background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
	background: rgb(66, 184, 221); /* this is a light blue */
}

/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */
.home-menu {
	padding: 0.5em;
	text-align: center;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.50);
}

.home-menu {
	background: #333333;
}

.pure-menu.pure-menu-fixed {
	/* Fixed menus normally have a border at the bottom. */
	border-bottom: none;
	/* I need a higher z-index here because of the scroll-over effect. */
	z-index: 4;
}

.home-menu .pure-menu-heading {
	color: #e6e6e6;
	font-weight: 600;
	font-size: 110%;
	text-shadow: 1px 1px 1px #666666;
}

.home-menu .pure-menu-selected a {
	color: #e6e6e6;
}

.home-menu a {
	color: #cc0033;
	font-size: 110%;
	font-weight: 400;
}

.home-menu li a:hover, .home-menu li a:focus {
	background: none;
	border: none;
	color: #ff6600;
}

/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */
.splash-container {
	background: #666666;
	background: transparent url('home.jpg') 0 0 no-repeat fixed;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='home.jpg',
		sizingMethod='scale');
	z-index: 1;
	overflow: hidden;
	/* The following styles are required for the "scroll-over" effect */
	width: 100%;
	height: 90%;
	top: 0;
	left: 0;
	position: fixed !important;
}

.splash {
	/* absolute center .splash within .splash-container */
	width: 100%;
	height: 50%;
	margin: auto;
	position: absolute;
	top: 0px;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
}

/* This is the main heading that appears on the blue section */
.splash-head {
	border: 0px solid #666666;
	padding: 1em 1.6em;
	font-weight: 100;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.4);
	height: 200px;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
	color: #333333;
	letter-spacing: 0.001em;
	opacity: 1;
	text-shadow: 1px 1px 1px #660000;
	font-size: 23px;
	font-weight: 900;
	padding-top: 15px;
}
/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content {
	background-color: #e6e6e6
}

.content-wrapper {
	/* These styles are required for the "scroll-over" effect */
	position: absolute;
	top: 87%;
	width: 100%;
	min-height: 12%;
	z-index: 2;
	background: #e6e6e6;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin: 2em 0 1em;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
	color: #e6e6e6;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
	color: #666666;
	text-align: center;
	padding: 20px;
	border-radius: 3px;
	box-shadow: 1px #ccc;
	background-color: rgba(0, 0, 0, 0.1);
	text-transform: uppercase;
}

.content-subhead:hover {
	background-color: #ff3333;
	-webkit-transition: 2s;
	transition: 2s;
}

.content-subhead h2 a:hover {
	color: #cccccc;
}

.content-subhead i {
	margin-right: 10px;
}

.pp {
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
	text-align: justify;
	text-transform: none;
}
/* This is the class used for the dark-background areas. */
.ribbon {
	background: #cc0033;
	color: #aaa;
}

.ribbon1 {
	background: #999999;
	color: #aaa;
}

.ribbon2 {
	background: #ff3300;
	color: #aaa;
}

/* This is the class used for the footer */
.footer {
	background: #111;
	color: #ccc;
}
.footer a {
	color: #ff3333;
	font-weight: 900;
	text-transform: uppercase;
	text-shadow: 1px 0px 1px #ccc;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media ( min-width : 48em) {
	/* We increase the body font size */
	body {
		font-size: 15px;
	}
	/* We want to give the content area some more padding */
	.content {
		padding: 1em;
	}

	/* We can align the menu header to the left, but float the
    menu items to the right. */
	.home-menu {
		text-align: left;
	}
	.home-menu ul {
		float: right;
	}

	/* We increase the height of the splash-container */
	/*    .splash-container {
        height: 500px;
    }*/

	/* We decrease the width of the .splash, since we have more width
    to work with */
	.splash {
		width: 50%;
		height: 50%;
	}
	.splash-head {
		font-size: 250%;
	}

	/* We remove the border-separator assigned to .l-box-lrg */
	.l-box-lrg {
		border: none;
	}
}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media ( min-width : 78em) {
	/* We increase the header font size even more */
	.splash-head {
		font-size: 300%;
	}
}